<section class="aboutus" id="about-us">
  <div class="container about-us-container">
    <div class="aboutus-content">
      <h2 class="aboutus-title">About us</h2>
      <h3 class="aboutus-subtitle">
        Our сraftsmanship: сreating unique handmade furniture
      </h3>
      <p class="aboutus-descr">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="aboutus-list list">
        <li class="aboutus-item">
          <h4 class="aboutus-item-subtitle">5+</h4>
          <p class="aboutus-item-descr">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="aboutus-item">
          <h4 class="aboutus-item-subtitle">100%</h4>
          <p class="aboutus-item-descr">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="aboutus-item">
          <h4 class="aboutus-item-subtitle">500+</h4>
          <p class="aboutus-item-descr">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="img-container">
      <picture>
        <source
          srcset="
            ./img/sofa-eichholtz-amore.jpg    1x,
            ./img/sofa-eichholtz-amore-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/sofa-eichholtz-amore-tab.jpg    1x,
            ./img/sofa-eichholtz-amore-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/sofa-eichholtz-amore-mob.jpg    1x,
            ./img/sofa-eichholtz-amore-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./img/sofa-eichholtz-amore.jpg" alt="bankapp" />
      </picture>
    </div>
  </div>
</section>
