<section class="bestsellers-section">
  <div class="container">
    <h2 class="bestsellers-title">Bestsellers</h2>
    <div class="bestsellers-first-card">
      <picture class="bestsellers-image">
        <source
          media="(max-width: 767px)"
          srcset="./img/bedroom-art-mob.jpg 1x, ./img/bedroom-art-mob@2.jpg 2x"
        />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="./img/bedroom-art-tab.jpg 1x, ./img/bedroom-art-tab@2.jpg 2x"
        />
        <source
          media="(min-width: 1440px)"
          srcset="./img/bedroom-art.jpg 1x, ./img/bedroom-art@2.jpg 2x"
        />
        <img
          src="./img/bedroom-art-tab.jpg"
          alt="bedroom with double bed"
          width="704"
        />
      </picture>
      <h3 class="bestsellers-subtitle">The modern platform bed</h3>
      <p class="bestsellers-text">750$</p>
    </div>
    <ul class="bestsellers-list">
      <li class="bestsellers-list-item">
        <picture class="bestsellers-image">
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/jimi-ball-chair-mob.jpg   1x,
              ./img/jimi-ball-chair-mob@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1439px)"
            srcset="
              ./img/jimi-ball-chair-tab.jpg   1x,
              ./img/jimi-ball-chair-tab@2.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/jimi-ball-chair.jpg   1x,
              ./img/jimi-ball-chair@2.jpg 2x
            "
          />
          <img
            src="./img/jimi-ball-chair-tab.jpg"
            alt="two ball chairs with little table"
            width="336"
          />
        </picture>
        <h3 class="bestsellers-subtitle">The Cozy Lounge Chair</h3>
        <p class="bestsellers-text">230$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture class="bestsellers-image">
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/vintage-jarpen-armchair-mob.jpg   1x,
              ./img/vintage-jarpen-armchair-mob@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1439px)"
            srcset="
              ./img/vintage-jarpen-armchair-tab.jpg   1x,
              ./img/vintage-jarpen-armchair-tab@2.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/vintage-jarpen-armchair.jpg   1x,
              ./img/vintage-jarpen-armchair@2.jpg 2x
            "
          />
          <img
            src="./img/vintage-jarpen-armchair-tab.jpg"
            alt="metal chair with little table"
            width="336"
          />
        </picture>
        <h3 class="bestsellers-subtitle">The industrial accent chair</h3>
        <p class="bestsellers-text">250$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture class="bestsellers-image">
          <source
            media="(min-width: 768px) and (max-width: 1439px)"
            srcset="
              ./img/sideboard-cabinet-solidwood-tab.jpg   1x,
              ./img/sideboard-cabinet-solidwood-tab@2.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/sideboard-cabinet-solidwood.jpg   1x,
              ./img/sideboard-cabinet-solidwood@2.jpg 2x
            "
          />
          <img
            src="./img/sideboard-cabinet-solidwood-tab.jpg"
            alt="wooden cabinet"
            width="336"
          />
        </picture>
        <h3 class="bestsellers-subtitle">The sleek stand</h3>
        <p class="bestsellers-text">300$</p>
      </li>
      <li class="bestsellers-list-item">
        <picture class="bestsellers-image">
          <source
            media="(min-width: 768px) and (max-width: 1439px)"
            srcset="
              ./img/sofa-develius-grey-tab.jpg   1x,
              ./img/sofa-develius-grey-tab@2.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/sofa-develius-grey.jpg   1x,
              ./img/sofa-develius-grey@2.jpg 2x
            "
          />
          <img
            src="./img/sofa-develius-grey-tab.jpg"
            alt="grey sofa"
            width="336"
          />
        </picture>
        <h3 class="bestsellers-subtitle">The minimalist sofa</h3>
        <p class="bestsellers-text">650$</p>
      </li>
    </ul>
  </div>
</section>
