<section class="reviews" id="clients-reviews.html">
  <div class="reviews-container container">
    <h2 class="reviews-title">Clients reviews</h2>
    <ul class="reviews-clients-list">
      <li class="reviews-clients-item">
        <div class="reviews-subcontainer">
          <img
            src="./img/Alexandra_Dream.png"
            alt="Alexandra Dream"
            width="56"
            height="56"
            class="reviews-subcontainer-img"
          />
          <div class="reviews-subcontainer-name-date">
            <h3 class="reviews-subcontainer-title">Alexandra dream</h3>
            <p class="reviews-subcontainer-text">1 week ago</p>
          </div>
        </div>
        <p class="reviews-item-text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="reviews-clients-item reviews-tab-version">
        <div class="reviews-subcontainer">
          <img
            src="./img/James_Williams.png"
            alt="James Williams"
            width="56"
            height="56"
            class="reviews-subcontainer-img"
          />
          <div class="reviews-subcontainer-name-date">
            <h3 class="reviews-subcontainer-title">James Williams</h3>
            <p class="reviews-subcontainer-text">A weekago</p>
          </div>
        </div>
        <p class="reviews-item-text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="reviews-clients-item reviews-desktop-version">
        <div class="reviews-subcontainer">
          <img
            src="./img/Emily_Watson.png"
            alt="Emily Watson"
            width="56"
            height="56"
            class="reviews-subcontainer-img"
          />
          <div class="reviews-subcontainer-name-date">
            <h3 class="reviews-subcontainer-title">Emily Watson</h3>
            <p class="reviews-subcontainer-text">3 week ago</p>
          </div>
        </div>
        <p class="reviews-item-text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
