<footer class="footer-section">
  <div class="footer-container">
    <div class="logo-soc-container">
      <div class="logo-nav">
        <a href="../index.html" class="logo-link link">
          <svg class="logo-icon" width="100" height="16">
            <use href="./img/icons.svg#icon-logo-mob"></use>
          </svg>
          <svg class="logo-icon-tab" width="127" height="16">
            <use href="./img/icons.svg#icon-logo-tab"></use>
          </svg>
        </a>
        <nav class="footer-nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#about-us" class="nav-item-link link">About us</a>
            </li>
            <li class="nav-item">
              <a href="#products" class="nav-item-link link">Our products</a>
            </li>
            <li class="nav-item">
              <a href="#price" class="nav-item-link link">Prices</a>
            </li>
            <li class="nav-item">
              <a href="#bestsellers" class="nav-item-link link">Bestsellers</a>
            </li>
            <li class="nav-item">
              <a href="#reviews" class="nav-item-link link">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="soc-list">
        <li class="soc-item card">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="facebook"
            rel="noopener norefferer"
          >
            <svg class="soc-icon">
              <use href="./img/icons.svg#icon-facebook-logo"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item card">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            aria-label="instagram"
            rel="noopener norefferer"
          >
            <svg class="soc-icon">
              <use href="./img/icons.svg#icon-instagram-logo"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item card">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            aria-label="youtube"
            rel="noopener norefferer"
          >
            <svg class="soc-icon">
              <use href="./img/icons.svg#icon-youtube-logo"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="contscts">
      <address class="address">
        <ul class="address-list">
          <li class="addr-item">
            <a
              class="addr-link link"
              href="https://www.google.com/maps/search/Obolonsky+Prospect,+14,+Kyiv/@50.5066575,30.4819038,14z/data=!3m1!4b1?entry=ttu"
              aria-label="google maps"
              target="_blank"
              rel="noopener noreferrer"
              >Obolonsky Prospect, 14, Kyiv</a
            >
          </li>
          <li class="addr-item worktime">
            <p>Daily 10:00-21:00</p>
          </li>
        </ul>
        <ul class="tel-list">
          <li class="addr-item">
            <a class="contact-link link" href="tel:+380669384758"
              >+380669384758</a
            >
          </li>
          <li class="addr-item">
            <a class="contact-link link" href="tel:+380679384758"
              >+380679384758</a
            >
          </li>
        </ul>
        <a class="footer-mail" href="mailto:minimal.furniture@gmail.com"
          >minimal.furniture@gmail.com</a
        >
      </address>
    </div>
    <p class="p-agree">
      By using this website, you agree to the
      <a href="#" class="agree-link">Terms of Service</a> and
      <a href="#" class="agree-link">Privacy Policy</a>
    </p>
  </div>
</footer>
