<header class="header-section">
  <div class="container">
    <a class="header-logo-link" href="">
      <svg class="header-logo" width="100" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="hamburger hamburger--collapse js-open-menu" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <nav class="header-menu-nav menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#about-us">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#our-products">Our products</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#price">Prices</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#clients-reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#subscription">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <nav class="header-mob-menu-nav">
        <ul class="header-mob-menu-list">
          <li class="header-mob-menu-item">
            <a class="header-mob-menu-item-link" href="#about-us">About us</a>
          </li>
          <li class="header-mob-menu-item">
            <a class="header-mob-menu-item-link" href="#our-products"
              >Our products</a
            >
          </li>
          <li class="header-mob-menu-item">
            <a class="header-mob-menu-item-link" href="#price">Prices</a>
          </li>
          <li class="header-mob-menu-item">
            <a class="header-mob-menu-item-link" href="#bestsellers"
              >Bestsellers</a
            >
          </li>
          <li class="header-mob-menu-item">
            <a class="header-mob-menu-item-link" href="#clients-reviews"
              >Reviews</a
            >
          </li>
          <li class="header-mob-menu-item">
            <a class="header-mob-menu-item-link" href="#subscription"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
