<header class="header-section">
  <div class="container">
    <a class="header-logo-link" href="./index.html">
      <svg class="header-logo-mob-svg" width="100" height="16">
        <use href="./img/icons.svg#icon-logo-mob"></use>
      </svg>
      <svg class="header-logo-tab-svg" width="127" height="16">
        <use href="./img/icons.svg#icon-logo-tab"></use>
      </svg>
    </a>
    <button class="hamburger hamburger--collapse js-open-menu" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <nav class="header-menu-nav menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#about-us">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#our-products">Our products</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#price">Prices</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#clients-reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#subscription">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <nav class="header-mob-menu-nav">
        <ul class="header-mob-menu-list">
          <li class="header-mob-menu-item">
            <a class="header-mob-menu-item-link js-close-menu" href="#about-us"
              >About us</a
            >
          </li>
          <li class="header-mob-menu-item">
            <a
              class="header-mob-menu-item-link js-close-menu"
              href="#our-products"
              >Our products</a
            >
          </li>
          <li class="header-mob-menu-item">
            <a class="header-mob-menu-item-link js-close-menu" href="#price"
              >Prices</a
            >
          </li>
          <li class="header-mob-menu-item">
            <a
              class="header-mob-menu-item-link js-close-menu"
              href="#bestsellers"
              >Bestsellers</a
            >
          </li>
          <li class="header-mob-menu-item">
            <a
              class="header-mob-menu-item-link js-close-menu"
              href="#clients-reviews"
              >Reviews</a
            >
          </li>
          <li class="header-mob-menu-item">
            <a
              class="header-mob-menu-item-link js-close-menu"
              href="#subscription"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="stub-for-scroll"></div>
</header>
