<section class="hero">
  <div class="container hero-container">
    <div class="hero-container-title">
      <h1 class="hero-title">Modern and minimalist furniture for you</h1>
    </div>
    <div class="hero-container-descr">
      <img
        src="../img/enlight-cabinet.jpg"
        alt="Enlihgt Cabinet"
        class="hero-img"
      />
      <p class="hero-descr">
        Add a touch of elegance to your space with handcrafted furniture pieces
      </p>
      <a href="#subscription" class="hero-subscribe-button">Subscribe</a>
    </div>
  </div>
</section>
