<section class="products-section" id="our-products">
  <div class="container">
    <h2 class="products-title">OUR PRODUCTS</h2>
    <ul class="products-list">
      <li class="products-item">
        <div class="products-item-img-container">
          <picture>
            <source
              srcset="
                ./img/wooden-scandinavian-lowline-tv.jpg   1x,
                ./img/wooden-scandinavian-lowline-tv@2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/wooden-scandinavian-lowline-tv-tab.jpg   1x,
                ./img/wooden-scandinavian-lowline-tv-tab@2.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/wooden-scandinavian-lowline-tv-mob.jpg   1x,
                ./img/wooden-scandinavian-lowline-tv-mob@2.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/wooden-scandinavian-lowline-tv.jpg"
              alt="wooden-scandinavian-lowline-tv"
            />
          </picture>
        </div>
        <p class="products-item-text">Minimalist storage solutions</p>
      </li>
      <li class="products-item">
        <div class="products-item-img-container">
          <picture>
            <source
              srcset="./img/hero-sofa-navy.jpg 1x, ./img/hero-sofa-navy@2.jpg 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/hero-sofa-navy-tab.jpg   1x,
                ./img/hero-sofa-navy-tab@2.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img src="./img/hero-sofa-navy.jpg" alt="bankapp" />
          </picture>
        </div>
        <p class="products-item-text">Handcrafted minimalist seating</p>
      </li>
      <li class="products-item">
        <div class="products-item-img-container">
          <picture>
            <source
              srcset="./img/ceres-table.jpg 1x, ./img/ceres-table@2.jpg 2x"
              media="(min-width: 1440px)"
            />

            <img src="./img/ceres-table.jpg" alt="bankapp" />
          </picture>
        </div>
        <p class="products-item-text">Sleek and simple tables</p>
      </li>
      <li class="products-item">
        <div class="products-item-img-container">
          <picture>
            <source
              srcset="
                ./img/blue-dining-room-chair.jpg   1x,
                ./img/blue-dining-room-chair@2.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <img
              src="./img/blue-dining-room-chair.jpg"
              alt="wooden-scandinavian-lowline-tv"
            />
          </picture>
        </div>
        <p class="products-item-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
