<section class="price" id="price">
  <div class="price-container container">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
    <ul class="price-list">
      <li class="price-item">
        <p class="price-name">
          CHAIRS <span class="price-cost">from 200<span>&#8372;</span></span>
        </p>
      </li>
      <li class="price-item">
        <p class="price-name">
          TABLES <span class="price-cost">from 250<span>&#8372;</span></span>
        </p>
      </li>
      <li class="price-item">
        <p class="price-name">
          DRESSERS <span class="price-cost">from 300<span>&#8372;</span></span>
        </p>
      </li>
      <li class="price-item">
        <p class="price-name">
          SOFAS <span class="price-cost">from 500<span>&#8372;</span></span>
        </p>
      </li>
    </ul>
  </div>
</section>
