.about-us-container{
    padding: 0;
}

.aboutus-content{
    background: var(--light-blue);
    padding: 64px 16px;
}

.aboutus-title {
    color: var(--blue-font);
font-size: 16px;
font-weight: 400;
padding-left: 50px;
margin-bottom: 30px;
position: relative;
}

.aboutus-title::before{
  content: '';
  width: 30px;
  height: 1px;
  background-color: var(--blue-font);  
  position: absolute;
  left: 0;
  bottom: 50%;

}

.aboutus-subtitle {
    color: var(--blue-font);
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 30px;
}
.aboutus-descr {
    color: var(--blue-font);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 30px;
}
.aboutus-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.aboutus-item {
    max-width: 170px;
    text-align: center;
   
}
.aboutus-item-subtitle {
    color: var(--blue-font);
        font-size: 50px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 14px;
}
.aboutus-item-descr {
    color: var(--blue-font);
        font-size: 16px;
        font-weight: 400;
}

.img-container{
    max-width: 375px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {

 .about-us-container{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }

 .aboutus-content{
        padding: 36px 64px;
        margin-bottom: 30px;
 }

 .aboutus-subtitle{
    width: 576px;
font-size: 32px;
 }
    
.aboutus-descr{
    width: 576px;
    font-size: 18px;
}

.aboutus-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 576px;
    gap: 33px;
}

.aboutus-item-descr{
    font-size: 18px;
}


.img-container{
 max-width: 704px;
    
}

}

@media screen and (min-width:1440px) {

    .about-us-container{
        padding: 0 15px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.aboutus-content{
    padding: 36px 69px;
    margin-top: 20px;   
}

.aboutus-subtitle{
    width: 622px;
font-size: 32px;
line-height: 1.41;
}

.aboutus-descr{
    width: 622px;
  font-size: 18px;  
}

.aboutus-item-descr{
    font-size: 18px;
}

.aboutus-list{
    width: 622px;
    gap: 56px;
}

.img-container{
    margin: 0;
}

}