.reviews{
background: var(--light-blue, #f7faff);
  padding: 36px 0;
}

.reviews-title {
  color: var(--blue-font, #0a224a);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.reviews-clients-item {
  border-radius: 8px;
  background: var(--white, #fff);
  padding: 24px;
}

.reviews-subcontainer {
  display: flex;
  margin-bottom: 24px;
  gap: 14px;
}

.reviews-subcontainer-img {
  background: url(<path-to-image>), lightgray 50% / cove;
}

.reviews-subcontainer-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.78;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.reviews-subcontainer-text {
  color: var(--blue-font, #0a224a);
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}

.reviews-item-text {
  color: var(--blue-font, #0a224a);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

@media (max-width: 767px) {
  .reviews-tab-version {
    display: none;
  }
}

@media (max-width: 1439px){
.reviews-desktop-version {
    display: none;
  }
}





@media screen and (min-width: 768px){
  /*.container{
    max-width: 768px;
  }*/

.reviews-title {
  font-size: 32px;
  line-height: 1.4;
}

.reviews-clients-list {
  display: flex;
  gap: 16px;
}

.reviews-subcontainer{
  margin-bottom: 14px;
}

.reviews-subcontainer-title{
  font-size: 20px;
  gap: 4px;
  line-height: 2.25;
}

.reviews-subcontainer-text{
  font-size: 16px;
  line-height: 1.5;
}

.reviews-item-text{
  font-size: 18px;
  line-height: 1.5;
}

}