@font-face {
  font-display: 'swap';
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-display: 'swap';
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-display: 'swap';
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')
    format('truetype');
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--blue-font);
  background-color: var(--white);
}
.container {
  padding: 0 16px;
  max-width: 375px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    /* padding: 0 32px; */
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    /* padding: 0 60px; */
    max-width: 1440px;
  }
}
 