.footer-section {
  padding: 36px 16px 16px 16px;
  background: var(--blue-font, #0a224a);
  width: 100%;
}

.logo-soc-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-nav {
  display: flex;
  flex-direction: column;
}
.logo-link {
  margin: 6px 0 42px;
}

.logo-icon {
  display: block;
  fill: var(--white);
  width: 100px;
  height: 16px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nav-item {
  color: var(--white);
}
.soc-list {
  display: flex;
  gap: 16px;
}

.soc-icon {
  width: 28px;
  height: 28px;
  fill: var(--white);
}

.contscts {
  margin: 36px 0 64px;
}
.address-list {
  color: var(--white);
  font-style: normal;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-bottom: 35px;
}

.addr-item:not(:last-child) {
  margin-bottom: 8px;
}
.tel-list {
  color: var(--white);
  font-style: normal;
  letter-spacing: 0.01em;
}

.footer-mail {
  display: none;
}

.p-agree {
  opacity: 0.6;
  color: var(--white);
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.agree-link {
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding: 36px 32px;
  }

  .logo-link {
    margin: 12px 0 0;
  }

  .logo-icon {
    width: 127px;
  }

  .logo-nav {
    flex-direction: row;
    flex: 1;
  }

  .footer-nav {
    margin: 8px 0 0 249px;
  }

  .soc-icon {
    width: 40px;
    height: 40px;
  }

  .nav-item {
    font-size: 18px;
  }

  .contscts {
    order: -1;
    margin: -116px 0 0;
  }

  .footer-mail {
    color: white;
    font-style: normal;
    display: flex;
    margin: 24px 0 64px;
    font-size: 19px;
  }
}
