.footer-section {
  padding: 36px 16px 16px 16px;
  background: var(--blue-font, #0a224a);
  width: 100%;
}
.footer-container {
}

.logo-soc-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-nav {
  display: flex;
  flex-direction: column;
}

.logo-icon {
  width: 100px;
  height: 16px;
  fill: var(--white);
}
.footer-nav {
  display: flex;
  gap: 8px;
  margin-bottom: 36px;
}
.nav-list {
  display: flex;
  flex-direction: column;
}
.nav-item {
  color: var(--white);
}
.address {
}
.address-list {
  color: var(--white);
  font-style: normal;
  letter-spacing: 0.01em;
  margin-bottom: 35px;
}
.tel-list {
  color: var(--white);
  font-style: normal;
  letter-spacing: 0.01em;
  margin-bottom: 64px;
}
.addr-item {
}
.addr-link {
}
.link {
}

.soc-list {
  display: flex;
  gap: 16px;
}
.soc-item {
  gap: 16px;
}
.soc-icon {
  width: 28px;
  height: 28px;
  fill: var(--white);
}
.p-agree {
  opacity: 0.6;
  margin: 0 auto;
  width: 100%;
  max-width: 343px;
  color: var(--white);
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.agree-link {
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .logo-icon {
    width: 127px;
  }

  .logo-nav {
    flex-direction: row;
  }
}
