.products-section {
  padding-bottom: 64px;
}
.products-list .products-item:nth-child(2),
.products-list .products-item:nth-child(3),
.products-list .products-item:nth-child(4) {
  display: none;
}
.products-title {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 33px;
}
.products-item-img-container {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .products-section {
    padding-bottom: 100px;
  }
  .products-title {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .products-item-img-container {
    margin-bottom: 15px;
  }
  .products-item-text {
    font-size: 18px;
  }
  .products-list .products-item:nth-child(2) {
    display: block;
  }
  .products-list {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
}
